<section>
	<h2>About Us</h2>
	<p style="color: yellow;">This page isn't finished yet. Come back later!</p>
	<p>The Party Warriors<br>
	“Don't book us if you don't want your club on fire.”<br><br>

	That’s how The Party Warriors describe themselves as a DJ-act. you don't book just three DJ's, you book 3 entertainers who really enjoy what they're doing. Having grown up with a passion for EDM, Those three guys dream about making their job of their hobby every night.<br><br>

	“For us, it’s all about having fun and doing what we love to do. Playing tracks that get you jumping on the dancefloor, losing your mind and make you singing along lyrics of real bangers, regardless of genre, style, or release date is what we do and how we role."</p>

	<div id="headlinks">
		<a href="https://www.facebook.com/DJ-C-MON-The-Party-Warriors-160552150807548/?fref=ts">
			<div class="imgwrapper">
				<div class="centertext">
					<h3>C-MON</h3>
					<h4>DJ/PRODUCER</h4>
				</div>
				<img src="assets/img/simon.jpg">
			</div>
		</a>

		<a href="https://twitter.com/stefvonraesfeld">
			<div class="imgwrapper">
				<div class="centertext">
					<h3>STEF VON RAESFELD MEYER</h3>
					<h4>DJ/PRODUCER</h4>
				</div>
				<img src="assets/img/stef.jpg">
			</div>
		</a>

		<a href="https://www.facebook.com/djdennisdeclerck/">
			<div class="imgwrapper">
				<div class="centertext">
					<h3>DENNIS</h3>
					<h4>DJ/PRODUCER</h4>
				</div>
				<img src="assets/img/dennis.jpg">
			</div>
		</a>
	</div>

	<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.<br><br>

	Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32</p>
</section>