<section>
	<h2>Contact & Bookings</h2>
	<p style="color: yellow;">This page isn't finished yet. Come back later!</p>
	
	<form action="mailto:someone@example.com" method="post" enctype="text/plain">
		<div class="contactrow">
			<input type="text" name="name" placeholder="Name*" required>
			<input type="email" name="mail" placeholder="Email address*" required>
			<input type="text" name="mail" placeholder="Subject" required>
		</div>
		<div class="contactrow">
			<textarea placeholder="Message*" required></textarea>
		</div>
		<button>Submit</button>
	</form>

</section>