<footer>

	<div id="about">
		<p>&#169; 2017 / Created by Jordy Mous</p>
	</div>
	<div id="social">
		<p>
			<a href="https://www.facebook.com/thepartywarriors/" target="_blank">a</a>
				<span style="display:inline-block; width: 1rem;"></span>
			<a href="https://www.twitter.com/departywarriors" target="_blank">b</a>
				<span style="display:inline-block; width: 1rem;"></span>
			<a href="https://www.linkedin.com/in/the-party-warriors-54437a14b/" target="_blank">e</a>
				<span style="display:inline-block; width: 1rem;"></span>
			<a href="https://www.instagram.com/thepartywarriors" target="_blank">c</a>
		</p>
	</div>
	
</footer>