<header>

	<iframe id="soundcloud" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/32264540&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>

	<div id="facebook" class="fb-like" data-href="https://www.facebook.com/thepartywarriors/" data-width="10" data-layout="box_count" data-action="like" data-size="small" data-show-faces="false" data-share="false"></div>

	<nav>
		<a href="#home" class="active">Home</a>
		<a href="#news">News</a>
		<a href="#about">About Us</a>
		<a href="#contact">Contact</a>
	</nav>
</header>